@import "tailwindcss";

body {
  background-color: #0a0c10;
  color: #e2e8f0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

